<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hdm.bank_android_client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="de.hdm.bank_android_client.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.hdm.bank_android_client.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="de.hdm.bankclient.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="de.hdm.bank_android_client" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="de.hdm.bank_android_client" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.hdm.bankclient.RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="de.hdm.bankclient.CustomerListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hdm.bankclient.AccountListActivity"
            android:label="@string/title_activity_account_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hdm.bank_android_client.CustomerListActivity" />
        </activity>
    </application>

</manifest>